*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// MIXIN---------------------------------------------------
@mixin btn-oh-my-food{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: none;
    padding: 0.8em;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: 600;
    box-shadow: 1px 7px 15px -3px rgba(74,74,74,0.9);
}
html{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
}
// Logo Site----------------------------------------------
.title-site{
    text-align: center;
    line-height: 50px;
    svg{
        margin-top: 10px;
    }
}
// Formulaire -------------------------------------------------
.form-oh-my-food{
    text-align: center;
    height: 280px;
    background-color: rgba(233, 233, 233, 0.522);
    .form-txt{
        width: 100%;
        padding: 30px 45px
    }
    .btn-form{
        @include btn-oh-my-food;
    }
    .search-ville{
        height: 40px;
        border-top: 2px solid rgba(128, 128, 128, 0.33);
        background-color: rgb(233, 233, 233);
        input{
            height: 100%;
            border: none;
            background-color: rgb(233, 233, 233);
            padding-left: 15px;
            &:focus{
                outline: none;
            }
        }
    }
}
// Card Restaurants ----------------------------------------------------------------
.restaurant{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    gap: 15px;
    .title-restaurant{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 80px;
        padding: 0 0 8px 20px;
    }
}

.card{
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
}
.card-title{
    margin: -3px;
    padding: 15px 15px 5px 15px;
    height: 80px;
    background-color: #fff;
    h2{
        margin: 0 0 5px 0;
        font-size: 1.1em;
    }
}
.card-img img{
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 170px;
}
.card-img-xl img{
    object-position: 0 -155px;
}