.card-menu{ 
    p, h6, span{
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}
.name-restaurant{
  h3{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-color: #99E2D0;
      width: 45px;
      height: 3px;
      bottom: -5px;
    }
  } 
}
.after-new{
  position: relative;
  &::after{
    content: "Nouveau";
    font-size: 15px;
    color: #2d806b;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    width: 80px;
    height: 30px;
    top: 5%;
    right: 5%;
    background-color: #99E2D0;
  }
}